*.audit
*.bnd
*.csv
*.dbg
*.dxf
*.eio
*.end
*.err
*.eso
*.idd
*.htm
*.mdd
*.mtd
*.mtr
*.rdd
*.rvaudit
*.shd
*.idf
*.epJSON

*.swo
*.swp

*.zip
*.7z

.Rhistory

*.epw

__pycache__/
ref_experiment/
simulations_ref/
GO/
MA/
MG/
PR/
RJ/
RS/
SC/
TO/

